

.home{
    width: 40%;
    height: auto;
    background-color: rgb(187, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 40px 0px;

}